__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.env/
.venv/
ENV/
.env
.flaskenv
.vscode/
*.code-workspace
Thumbs.db
desktop.ini
$RECYCLE.BIN
build/
dist/
*.egg-info/
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.log 
tmp/
.env
*.secrets
.idea/
.project
.pytest_cache/